@layout LoginLayout
@inherits LayoutComponentBase

<center>
    <div class="col-4 card">
        <div class="row-8 col">
            <p>&nbsp;</p>
        </div>
        <div class="row-8 col">
            <div class="row-4">
                <img src="/img/book_logo.png" width="250px" height="275px" />
            </div>
            <div class="row-4">
                @Body
            </div>
        </div>
        <div class="row-8 col">
            <p>&nbsp;</p>
        </div>
    </div>
</center>