@page "/"
@inject MediatR.IMediator _mediator

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    @foreach (var o in orders)
    {
        <li>@o.OrderName</li>
    }
</ul>

@code {
    List<Order> orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await _mediator.Send(new GetOrderListQuery());
    }
}
